Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS).
SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). 
NoSQL is a class of DBMs that are non-relational or document based database and generally do not use SQL.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define the database schema and structure. 
DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

1. CREATE :- CREATE statement is used to create a new database object such as a table, view, or index. For example, to create a new table named "employees" with columns "id", "name", and "salary", the following SQL statement can be used:
 
    CREATE TABLE employees (
      id INT PRIMARY KEY,
      name VARCHAR(50) NOT NULL,
      salary INT
    );

2. DROP:- DROP statement is used to delete a database object such as a table or index. For example, to delete the "employees" table created in the previous example, the following SQL statement can be used.

    DROP TABLE employees;
    
3. ALTER: ALTER statement is used to modify the structure of an existing database object such as a table or index. For example, to add a new column "address" to the "employees" table created earlier, the following SQL statement can be used.
    ALTER TABLE employees ADD address VARCHAR(100);
    
4. TRUNCATE: TRUNCATE statement is used to delete all the data from a table while keeping the table structure intact. For example, to delete all the data from the "employees" table created earlier, the following SQL statement can be used.
    TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data in a database. DML statements are used to insert, update, and delete data from database tables.

1. INSERT: INSERT statement is used to add new rows to a table. For example, to add a new employee to the "employees" table created in the previous example, the following SQL statement can be used:
    INSERT INTO employees (id, name, salary, address) VALUES (1, 'John', 50000, '123 Main St');
This statement inserts a new row into the "employees" table with the specified values for the "id", "name", "salary", and "address" columns.

2. UPDATE: UPDATE statement is used to modify the existing rows in a table. For example, to update the salary of the employee with id=1 to 60000, the following SQL statement can be used:
    UPDATE employees SET salary=60000 WHERE id=1;
This statement updates the "salary" column of the row in the "employees" table with id=1 to 60000.

3. DELETE: DELETE statement is used to remove rows from a table. For example, to delete the employee with id=1 from the "employees" table, the following SQL statement can be used:
    DELETE FROM employees WHERE id=1;
This statement deletes the row from the "employees" table where the "id" column is equal to 1.

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to perform queries on database tables.

The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables based on specified criteria. The SELECT statement can be used to retrieve all the rows and columns from a table, or a subset of the rows and columns based on specified conditions.

The following is an example of using the SELECT statement to retrieve data from a table:

Assume we have a table named "students" with the following columns: id, name, age, and grade. To retrieve all the rows and columns from the "students" table, the following SQL statement can be used:
    SELECT * FROM students;
This statement returns all the rows and columns from the "students" table. The asterisk (*) is used to indicate that all the columns should be retrieved.

Q5. Explain Primary Key and Foreign Key.

Ans. Primary Key:  

primary key is a unique identifier for a row in a database table. It is used to enforce data integrity and ensure that each row in the table can be uniquely identified. A primary key can be a single column or a combination of columns that uniquely identify each row in the table. A primary key is usually defined when the table is created, and it cannot be null or duplicate.

For example, in a table of employees, the primary key might be the employee ID column. This ensures that each employee has a unique identifier in the table.

Foreign Key: 

A foreign key is a column or combination of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. A foreign key enforces referential integrity, which means that it ensures that the data in the related tables remains consistent and accurate.

For example, in a table of orders, the foreign key might be the customer ID column. This column would reference the primary key of the customer table, which would ensure that all orders are associated with a valid customer.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Code is below here:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
  
Cursor Method: After the connection is established, a cursor object is created using the cursor() method of the connection object. The cursor object is used to execute SQL queries and fetch the results.

Execute Method: The execute() method of the cursor object is used to execute an SQL query. The SQL query is passed as an argument to the execute() method. In the example above, a SELECT query is executed to retrieve all the rows from the "table_name" table.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: This clause specifies the table or tables from which data is retrieved.

2. JOIN clause: If the query involves multiple tables, the JOIN clause specifies how the tables are related to each other.

3. WHERE clause: This clause filters the rows returned by the query based on specified conditions.

4. GROUP BY clause: This clause groups the result set by one or more columns.

5. HAVING clause: This clause filters the groups returned by the GROUP BY clause based on specified conditions.

6. SELECT clause: This clause specifies the columns to be retrieved from the table.

7. ORDER BY clause: This clause sorts the result set by one or more columns.

8. LIMIT clause: This clause limits the number of rows returned by the query.

Note that not all of these clauses are required in every SQL query, and some of them can be omitted depending on the specific query being executed. The clauses can also be reordered depending on the specific requirements of the query. However, in general, the clauses are executed in the order listed above